body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}
form {
    margin-top: 20px;
}
input[type="number"] {
    padding: 10px;
    margin: 5px;
    width: 100px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}